body{
    background-image: url(menu/menu\ vg\ cats.jpg);
    background-position: 468px;
    background-size: cover;
    margin: auto;
    
}
a{
    text-decoration-color: aquamarine;
    color: skyblue;
}
h1{
    color: aliceblue;
    text-align: center;
}